.login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-text{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
}
.login-button{
    padding: 1rem;
    background-color: aliceblue;
    color: rgb(58, 57, 57);
    font-size: 1.5rem;
    border-radius: 15px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}
.cars{
    /* color: white; */
}